WorkingTitleScifiGame/Temp/UnityLockfile

WorkingTitleScifiGame/Temp
WorkingTitleScifiGame/Library/metadata
WorkingTitleScifiGame/Library/ShaderCache
WorkingTitleScifiGame/ExportedObj/
WorkingTitleScifiGame/obj/
WorkingTitleScifiGame/*.svd
WorkingTitleScifiGame/*.userprefs
WorkingTitleScifiGame/*.csproj
WorkingTitleScifiGame/*.pidb
WorkingTitleScifiGame/*.suo
WorkingTitleScifiGame/*.sln
WorkingTitleScifiGame/*.user
WorkingTitleScifiGame/*.unityproj
WorkingTitleScifiGame/*.booproj